<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Power</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script type="text/javascript">
        window.onload = function () {
          var chart = new CanvasJS.Chart("chartContainer",
          {
      
            title:{
            text: "Power usage hourwise of sector {{sector}} from 17/03/2019 to 7/5/2019 in GWh"
            },
             data: [
            {
              type: "line",
      
              dataPoints: [
                    {%for i in range(0,24)%}
                        { x: {{i}}, y: {{store[i]}} },
                    {%endfor%}
              ]
            }
            ]
          });
      
          chart.render();
        }
        </script>
       <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('api.current') }}" class="navbar-item">
                                Monthly Use Hour Wise
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('api.graph') }}" class="navbar-item">
                                Graph
                            </a>
                            <a href="{{ url_for('api.bill') }}" class="navbar-item">
                                Bill
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title">POWER CONSUMPTION </h1>
                </div>
                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>
            </div>
        </div>
       
    </section>
</body>

</html>